<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Patients</title>
    <link rel="stylesheet"
          href="\webjars\bootstrap\4.1.3\css\bootstrap.min.css">
    <script src="\webjars\jquery\3.5.0\jquery.min.js"></script>
    <script src="\webjars\bootstrap\4.1.3\js\bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-secondary navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" th:href="@{home}">  Clinique</a>

    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" th:href="@{patients}">Patients</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Doctors</a>
        </li>

        <!-- Dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"
               href="#" id="navbardrop" data-toggle="dropdown">
                Options
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" sec:authorize="hasRole('ADMIN')" th:href="@{formPatient}">Add</a>
                <a class="dropdown-item" href="#">Search</a>
            </div>
        </li>
    </ul>
    <section layout:fragment="formContent">
    </section>



    <ul  class="navbar-nav ml-auto">
        <!-- Dropdown UserNAME -->
        <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle"
               href="#" id="navbardrop2"
               data-toggle="dropdown">
                <span sec:authentication="name"></span>
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" sec:authorize="!isAuthenticated()" href="#">Login</a>
                <a class="dropdown-item" th:href="@{logout}">Logout</a>
                <a class="dropdown-item" href="#">Profile</a>
            </div>
        </li>
    </ul>

</nav>
<section layout:fragment="pageContent">

</section>
</body>
</html>